---
interface Props {
  t: string[];
  timeSpeed?: number;
}

const { t, timeSpeed } = Astro.props;
const speed = timeSpeed ?? 2000; // Valor por defecto en caso de no definirse
const phrases = t || [];
---

<script define:vars={{ speed, phrases }}>
  // ——————————————————————————————————————————————————
  // TextScramble
  // ——————————————————————————————————————————————————
  class TextScramble {
    constructor(el) {
      this.el = el;
      this.chars = "!<>-_\\/[]{}—=+*^?#________";
      this.queue = [];
      this.frame = 0;
      this.frameRequest = 0;
      this.resolve = () => {};
      this.update = this.update.bind(this);
    }

    setText(newText) {
      const oldText = this.el.innerText;
      const length = Math.max(oldText.length, newText.length);
      const promise = new Promise((resolve) => (this.resolve = resolve));
      this.queue = [];
      for (let i = 0; i < length; i++) {
        const from = oldText[i] || "";
        const to = newText[i] || "";
        const start = Math.floor(Math.random() * 40);
        const end = start + Math.floor(Math.random() * 40);
        this.queue.push({ from, to, start, end });
      }
      cancelAnimationFrame(this.frameRequest);
      this.frame = 0;
      this.update();
      return promise;
    }

    update() {
      let output = "";
      let complete = 0;
      for (let i = 0, n = this.queue.length; i < n; i++) {
        let { from, to, start, end, char } = this.queue[i];
        if (this.frame >= end) {
          complete++;
          output += to;
        } else if (this.frame >= start) {
          if (!char || Math.random() < 0.28) {
            char = this.randomChar();
            this.queue[i].char = char;
          }
          output += `<span class="dud">${char}</span>`;
        } else {
          output += from;
        }
      }
      this.el.innerHTML = output;
      if (complete === this.queue.length) {
        this.resolve();
      } else {
        this.frameRequest = requestAnimationFrame(this.update);
        this.frame++;
      }
    }

    randomChar() {
      return this.chars[Math.floor(Math.random() * this.chars.length)];
    }
  }

  // ——————————————————————————————————————————————————
  // Example
  // ——————————————————————————————————————————————————
  document.addEventListener("DOMContentLoaded", () => {
    const el = document.querySelector(".text");

    if (!el) return; // Si el elemento no existe, salimos de la función.

    const fx = new TextScramble(el);
    let counter = 0;

    const next = () => {
      fx.setText(phrases[counter]).then(() => {
        setTimeout(next, speed);
      });
      counter = (counter + 1) % phrases.length;
    };

    next();
  });
</script>

<div class="container">
  <div class="text"></div>
</div>

<style>
  @import url("https://fonts.googleapis.com/css?family=Roboto+Mono:100");
  .container {
    width: 100%;
    flex-grow: 1;
    min-width: 1000;
    max-width: 1000px;
    min-height: 200px; /* Altura mínima */
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: visible; /* Permitir que se muestre el contenido extra */
    padding: 0.5rem;
    box-sizing: border-box;
  }

  .text {
    font-family: inherit; /* Hereda la fuente del padre */
    font-weight: inherit; /* Hereda el peso de fuente del padre */
    font-size: inherit; /* Hereda el tamaño de fuente del padre */
    color: inherit; /* Hereda el color del padre */
    text-overflow: ellipsis;
    display: inline-block;
    max-width: 100%;
  }

  .dud {
    color: rgba(
      255,
      255,
      255,
      0.5
    ); /* Color más suave para los caracteres aleatorios */
  }
</style>
