---
import welom from "../locales/welcome.json";
import t from "../locales/welcome.json";

import TextScramel from "./effect/TextScramel.astro";
const translationsJSON = JSON.stringify(welom);
---

<div id="container">
  <a href="/es" class="welcome" id="welcome">
    <TextScramel t={t.welcome} timeSpeed={1000} />
  </a>
</div>

<style>
  html,
  body {
    margin: 0;
    padding: 0;
    height: 100%;
  }
  #container {
    width: 100%;
    height: 100%;
    /* background-color: transparent; /* Fondo transparente */
    display: flex;
    justify-content: center;
    align-items: center;
    backdrop-filter: blur(5px); /* Blur en el contenedor */
  }
  .welcome,
  .welcome * {
    font-family: "Alfa Slab One", serif;
    font-weight: 400;
    font-style: normal;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80%; /* Reducido para mejor efecto visual */
    height: 50%;
    text-decoration: none;
    /* background-color: rgba(0, 123, 255, 0.5); /* Transparencia */
    color: #fff;
    font-size: 4rem;
    border-radius: 15px; /* Bordes redondeados */
    transition:
      background-color 0.3s ease,
      backdrop-filter 0.3s ease;
    backdrop-filter: blur(10px); /* Blur más intenso en el botón */
    -webkit-backdrop-filter: blur(10px); /* Soporte para Safari */
    border: 1px solid rgba(255, 255, 255, 0.1); /* Borde sutil */
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1); /* Sombra difuminada */
  }

  a:hover {
    border: 2px solid rgba(255, 255, 255, 0.158); /* Borde sutil */
    /* background-color: rgba(0, 86, 179, 0.7); /* Transparencia al hacer hover */
    backdrop-filter: blur(12px); /* Aumentar blur al hover */
    -webkit-backdrop-filter: blur(12px);
  }
</style>
