---
import Card from "./Card.astro";
const { t } = Astro.props as any;
// Forzamos el array a any[]
const cards = (t && t.Cards ? Object.values(t.Cards) : []) as any[];
---

<div class="conteiner">
  <h1 class="titule">{t.TituleExperiencie}</h1>
  <div class="cards-container">
    {
      cards.map((card: any) => (
        <Card title={card.title} content={card.text} image={card.image} />
      ))
    }
  </div>
</div>
<style>
  .conteiner {
    justify-content: center;
    align-items: center;
  }

  .titule {
  }

  .cards-container {
    display: flex;
    flex-wrap: wrap; /* Permite que se envuelvan si no caben en una línea */
    justify-content: center;
    gap: 1rem; /* Espacio entre las cards */
    padding: 1rem;
  }
</style>
