---
import Card from "./Card.astro";
const { t } = Astro.props as any;
// Forzamos el array a any[]
const cards = (t && t.Cards ? Object.values(t.Cards) : []) as any[];
---

<div class="cards-container">
  <h1>{t.TituleExperiencie}</h1>
  {
    cards.map((card: any) => (
      <Card title={card.title} content={card.text} image={card.image} />
    ))
  }
</div>

<style>
  .cards-container {
    display: flex;
    flex-wrap: wrap; /* Permite que se envuelvan si no caben en una línea */
    justify-content: center;
    gap: 1rem; /* Espacio entre las cards */
    padding: 1rem;
  }
</style>
