---

---

<script>
  function actualizarHora() {
    const ahora = new Date();
    const horas = ahora.getHours();
    const minutos = ahora.getMinutes();
    const segundos = ahora.getSeconds();

    const formatoHoras = horas.toString().padStart(2, "0");
    const formatoMinutos = minutos.toString().padStart(2, "0");
    const formatoSegundos = segundos.toString().padStart(2, "0");

    const horaPersonalizada = `${formatoHoras}:${formatoMinutos}:${formatoSegundos}`;

    // Obtiene el elemento y verifica si no es null
    const horaElemento = document.getElementById("hora");
    if (horaElemento) {
      horaElemento.innerText = horaPersonalizada;
    }
  }

  // Actualiza la hora cada segundo
  setInterval(actualizarHora, 1000);
  actualizarHora();
</script>

<div>
  <h1 id="hora"></h1>
</div>
