---
const { t } = Astro.props as any;
---

<div class="contact-section">
  <h1 class="title">{t?.Contact}</h1>
  <nav class="conteiner-nav">
    <a class="nav" href="">
      <img
        class="image"
        src="/assets/icons/social/Github_dark.svg"
        alt="Github"
      />
    </a>
    <a class="nav" href="">
      <img
        class="image"
        src="/assets/icons/social/linkedin.svg"
        alt="LinkedIn"
      />
    </a>
    <a class="nav" href="">
      <img class="image" src="/assets/icons/social/slack.svg" alt="Slack" />
    </a>
    <a class="nav" href="">
      <img class="image" src="/assets/icons/social/gmail.svg" alt="Gmail" />
    </a>
    <a class="nav" href="">
      <img
        class="image"
        src="/assets/icons/social/facebook.svg"
        alt="Facebook"
      />
    </a>
    <a class="nav" href="">
      <img
        class="image"
        src="/assets/icons/social/Instagram_dark.svg"
        alt="Instagram"
      />
    </a>
    <a class="nav" href="">
      <img class="image" src="/assets/icons/social/discord.svg" alt="Discord" />
    </a>
  </nav>
</div>

<style>
  .title {
  }
  .contact-section {
    padding: 20px;
    margin: 0 auto;
    max-width: 800px;
  }

  .title {
    text-align: center;
    margin-bottom: 30px;
    font-size: 2rem;
  }

  .conteiner-nav {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    max-width: 500px;
    margin: 0 auto;
  }

  .nav {
    display: flex;
    justify-content: center;
    align-items: center;
    width: calc(25% - 20px); /* 4 elementos en la primera fila */
    margin-bottom: 15px;
    transition: transform 0.3s ease;
    text-decoration: none;
  }

  .nav:hover {
    transform: scale(1.1);
  }

  .image {
    width: 60px;
    height: auto;
    display: block;
    max-width: 100%;
    object-fit: contain;
  }

  /* Media query para dispositivos móviles */
  @media (max-width: 500px) {
    .nav {
      width: calc(33.33% - 20px); /* 3 elementos por fila en móviles */
    }

    .image {
      width: 45px;
    }
  }
</style>
