---
const { t } = Astro.props;
---

<div class="container">
  <h1 class="titulo">{t?.ContactMe}</h1>
  <form
    action="https://formsubmit.co/bccb837118903122749568394ce06bb1"
    method="POST"
  >
    <div class="form-group">
      <div class="form-row">
        <div class="col">
          <input
            type="text"
            name="name"
            class="form-control"
            placeholder="Full Name"
            required
          />
        </div>
        <div class="col">
          <input
            type="email"
            name="email"
            class="form-control"
            placeholder="Email Address"
            required
          />
        </div>
      </div>
    </div>
    <div class="form-group">
      <textarea
        placeholder="Your Message"
        class="form-control"
        name="message"
        rows="5"
        required></textarea>
    </div>
    <button type="submit" class="btn">{t.Enviar}</button>

    <input
      type="hidden"
      name="_next"
      value="https://portafolio-santiago-sanchez.netlify.app/es/"
    />

    <input type="hidden" name="_captcha" value="false" />

    <input
      type="hidden"
      name="_autoresponse"
      value="¡Gracias por contactarte conmigo! En breve te contestaré lo antes posible."
    />
  </form>
</div>

<style>
  .container {
    padding: 20px;
    border-radius: 10px;
    max-width: 400px;
    width: 100%;
  }

  h1 {
    font-family: "Teko", sans-serif;
    font-optical-sizing: auto;
    font-weight: <weight>;
    font-size: 3rem;
    text-align: center;
    color: #ffffff;
  }

  .form-control {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #f0f0f063;
    border-radius: 5px;
    font-size: 16px;
    background-color: #287e1db6;
    color: rgb(235, 248, 232);
  }

  .form-control::placeholder {
    color: white;
    opacity: 1;
  }

  .btn {
    width: 100%;
    padding: 10px;
    background: #155f0e;
    color: rgba(232, 252, 226, 0.918);
    border: none;
    border-radius: 5px;
    font-family: "Doto", sans-serif;
    font-optical-sizing: auto;
    font-weight: <weight>;
    font-style: normal;
    font-variation-settings: "ROND" 2;
    font-size: 1rem;
    font-weight: 800px;
    cursor: pointer;
    transition: 0.3s;
  }

  .btn:hover {
    background: #0057b3bd;
    border: solid 1px rgba(255, 255, 255, 0.425);
  }
</style>
