---
/** Inspiración de: Anne Klapwijk */
---

<div class="orbit">
  <ul class="orbit-wrap">
    <li class="orbit-center">
      <h1 class="orbit-center__icon on fa fa-code">Skills</h1>
    </li>

    <li>
      <ul class="ring-0">
        <li>
          <img
            class="orbit-icon fa fa-git"
            class="image-icon-orbit"
            src="/assets/icons/docker.svg"
            alt="Kotlin"
          />
        </li>
        <li>
          <img
            class="orbit-icon fa fa-free-code-camp"
            class="image-icon-orbit"
            src="/assets/icons/kotlin.svg"
            alt="Kotlin"
          />
        </li>
        <li>
          <img
            class="orbit-icon fa fa-meetup"
            class="image-icon-orbit"
            src="/assets/icons/typescript.svg"
            alt="Typescript"
          />
        </li>
        <li>
          <img
            class="orbit-icon fa fa-codepen"
            class="image-icon-orbit"
            src="/assets/icons/mariadb.svg"
            alt="MariaDB"
          />
        </li>
      </ul>
    </li>

    <li>
      <ul class="ring-1">
        <li>
          <img
            class="orbit-icon fa fa-podcast"
            class="image-icon-orbit"
            src="/assets/icons/python.svg"
            alt="python"
          />
        </li>
        <li>
          <img
            class="orbit-icon fa fa-css3"
            class="image-icon-orbit"
            src="/assets/icons/c-plusplus.svg"
            alt="C++"
          />
        </li>
        <li>
          <img
            class="orbit-icon fa fa-html5"
            class="image-icon-orbit"
            src="/assets/icons/linux.svg"
            alt="Linux"
          />
        </li>
      </ul>
    </li>

    <li>
      <ul class="ring-2">
        <li>
          <img
            class="orbit-icon fa fa-windows"
            class="image-icon-orbit"
            src="/assets/icons/git.svg"
            alt="git"
          />
        </li>
        <li>
          <img
            class="orbit-icon fa fa-safari"
            class="image-icon-orbit"
            src="/assets/icons/css.svg"
            alt="css"
          />
        </li>
        <li>
          <img
            class="orbit-icon fa fa-edge"
            class="image-icon-orbit"
            src="/assets/icons/html5.svg"
            alt="html5"
          />
        </li>
        <li>
          <img
            class="orbit-icon fa fa-linux"
            class="image-icon-orbit"
            src="/assets/icons/Astro_light.svg"
            alt="Astro"
          />
        </li>
        <li>
          <img
            class="orbit-icon fa fa-apple"
            class="image-icon-orbit"
            src="/assets/icons/mongodb.svg"
            alt="MongoDB"
          />
        </li>
        <li>
          <img
            class="orbit-icon fa fa-chrome"
            class="image-icon-orbit"
            src="/assets/icons/mysql.svg"
            alt="MySQL"
          />
        </li>
        <li>
          <img
            class="orbit-icon fa fa-android"
            class="image-icon-orbit"
            src="/assets/icons/react.svg"
            alt="React"
          />
        </li>
        <li>
          <img
            class="orbit-icon fa fa-firefox"
            class="image-icon-orbit"
            src="/assets/icons/nodejs.svg"
            alt="NodeJS"
          />
        </li>
      </ul>
    </li>

    <li>
      <ul class="ring-3">
        <li>
          <img
            class="orbit-icon fa fa-coffee"
            class="image-icon-orbit"
            src="/assets/icons/java.svg"
            alt="Java"
          />
        </li>
        <li>
          <img
            class="orbit-icon fa fa-terminal"
            class="image-icon-orbit"
            src="/assets/icons/Rust_dark.svg"
            alt="Rust"
          />
        </li>
        <li>
          <img
            class="orbit-icon fa fa-heart-o"
            class="image-icon-orbit"
            src="/assets/icons/javascript.svg"
            alt="javascript"
          />
        </li>
      </ul>
    </li>
  </ul>
</div>

<style>
  :root {
    --orbit-item-size: 1.6em;
    --orbit-center-size: 1.8em;
    --ring-size: 25em;
    --ring-color: rgba(33, 150, 243, 0.8);
  }

  * {
    box-sizing: border-box;
  }

  .orbit {
    background: var(--background-color);
    width: 100%;
    height: 100%; /* Ocupa todo el espacio del padre */
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
  }

  .orbit-wrap {
    position: relative;
    width: 100%; /* Ajusta al 100% del contenedor padre */
    aspect-ratio: 1 / 1; /* Mantiene la proporción cuadrada */
    list-style: none;
    font-size: 1.3em;
  }

  .orbit-icon {
    width: var(--orbit-item-size);
    height: var(--orbit-item-size);
    line-height: var(--orbit-item-size);
    padding: 6px;
    border-radius: 50%;
    background: #ccc;
    color: #fff;
    text-align: center;
    align-items: center;
    display: block;
    transition: all 0.3s ease;
  }

  .orbit-icon:hover {
    transform: scale(1.2); /* Aumenta el tamaño un 20% */
    border: solid 1px green;
    border-radius: 30%;
  }
  .image-icon-orbit {
    width: var(--orbit-item-size); /* Establece un ancho fijo */
    height: var(--orbit-item-size); /* Establece una altura fija */
    object-fit: contain; /* Mantiene la proporción de la imagen */
    padding: 6px; /* Padding reducido */
    background: white; /* Fondo blanco para mejor contraste */
  }

  .image-icon-orbit:hover {
  }
  .orbit-wrap > li {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
  }

  ul[class^="ring"] {
    border: solid 1px var(--ring-color);
    position: relative;
    padding: 0;
    border-radius: 50%;
    list-style: none;
    box-sizing: content-box;
    transition: all 0.3s ease;
  }

  ul[class^="ring"] li {
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    width: var(--orbit-item-size);
    height: var(--orbit-item-size);
    margin: calc(var(--orbit-item-size) / -2);
  }

  .ring-0 {
    width: calc(var(--ring-size) - 0em);
    height: calc(var(--ring-size) - 0em);
    animation: clockwiseRotate 35s linear infinite;
  }

  .ring-1 {
    width: calc(var(--ring-size) - 5em);
    height: calc(var(--ring-size) - 5em);
    animation: clockwiseRotate 30s linear infinite;
  }

  .ring-2 {
    width: calc(var(--ring-size) - 10em);
    height: calc(var(--ring-size) - 10em);
    animation: clockwiseRotate 25s linear infinite;
  }

  .ring-3 {
    width: calc(var(--ring-size) - 15em);
    height: calc(var(--ring-size) - 15em);
    animation: clockwiseRotate 20s linear infinite;
  }

  .ring-0 > *:nth-of-type(1) {
    transform: rotate(95deg) translate(12.5em) rotate(-95deg);
  }
  .ring-0 > *:nth-of-type(2) {
    transform: rotate(190deg) translate(12.5em) rotate(-190deg);
  }
  .ring-0 > *:nth-of-type(3) {
    transform: rotate(285deg) translate(12.5em) rotate(-285deg);
  }
  .ring-0 > *:nth-of-type(4) {
    transform: rotate(380deg) translate(12.5em) rotate(-380deg);
  }

  .ring-1 > *:nth-of-type(1) {
    transform: rotate(126.666deg) translate(10em) rotate(-126.666deg);
  }
  .ring-1 > *:nth-of-type(2) {
    transform: rotate(253.333deg) translate(10em) rotate(-253.333deg);
  }
  .ring-1 > *:nth-of-type(3) {
    transform: rotate(380deg) translate(10em) rotate(-380deg);
  }

  .ring-2 > *:nth-of-type(1) {
    transform: rotate(47.5deg) translate(7.5em) rotate(-47.5deg);
  }
  .ring-2 > *:nth-of-type(2) {
    transform: rotate(95deg) translate(7.5em) rotate(-95deg);
  }
  .ring-2 > *:nth-of-type(3) {
    transform: rotate(142.5deg) translate(7.5em) rotate(-142.5deg);
  }
  .ring-2 > *:nth-of-type(4) {
    transform: rotate(190deg) translate(7.5em) rotate(-190deg);
  }
  .ring-2 > *:nth-of-type(5) {
    transform: rotate(237.5deg) translate(7.5em) rotate(-237.5deg);
  }
  .ring-2 > *:nth-of-type(6) {
    transform: rotate(285deg) translate(7.5em) rotate(-285deg);
  }
  .ring-2 > *:nth-of-type(7) {
    transform: rotate(332.5deg) translate(7.5em) rotate(-332.5deg);
  }
  .ring-2 > *:nth-of-type(8) {
    transform: rotate(380deg) translate(7.5em) rotate(-380deg);
  }

  .ring-3 > *:nth-of-type(1) {
    transform: rotate(126.666deg) translate(5em) rotate(-126.666deg);
  }
  .ring-3 > *:nth-of-type(2) {
    transform: rotate(253.333deg) translate(5em) rotate(-253.333deg);
  }
  .ring-3 > *:nth-of-type(3) {
    transform: rotate(380deg) translate(5em) rotate(-380deg);
  }

  .orbit-center {
    font-family: "Pixelify Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: <weight>;
    font-style: normal;
    z-index: 5;
    font-size: 2em;
    font-stretch: 120%; /* Aumenta el ancho */
    padding: 70px;
    width: var(--orbit-center-size);
    height: var(--orbit-center-size);
    line-height: var(--orbit-center-size);
    text-align: center;
    background: rgb(5, 99, 18);
    border-radius: 50%;
    transition: all 0.3s ease;
    display: flex; /* Centra el contenido */
    justify-content: center;
    align-items: center;
  }

  .orbit-center__icon .fa-codeon {
    font-family: "Doto", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400; /* Corrige <weight> */
    font-style: normal;
    display: flex; /* Asegura que se centre si hay un icono */
    align-items: center;
    justify-content: center;
    transition: all 0.3s ease;
  }

  .fa-codeon {
    font-size: 1.5em; /* Ajusta el tamaño del icono */
  }

  @keyframes clockwiseRotate {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }

  .fa-heart-o {
    background: #b71c1c;
    color: white;
  }
  .fa-coffee {
    background: #4caf50;
    color: #cddc39;
  }
  .fa-safari {
    background: white;
    color: darkslateblue;
  }
  .fa-firefox {
    background: #1565c0;
    color: #ff8f00;
  }
  .fa-chrome {
    background: #fbc02d;
    color: #ef6c00;
  }
  .fa-edge {
    background: #03a9f4;
    color: white;
  }
  .fa-android {
    background: snow;
    color: limegreen;
  }
  .fa-apple {
    background: #444;
    color: white;
  }
  .fa-linux {
    background: white;
    color: #222;
  }
  .fa-windows {
    background: white;
    color: #03a9f4;
  }
  .fa-terminal {
    background: #222;
    color: #fff;
  }
  .fa-html5 {
    background: white;
    color: #e65100;
  }
  .fa-css3 {
    background: white;
    color: #2196f3;
  }
  .fa-git {
    background: #222;
    color: white;
  }
  .fa-free-code-camp {
    background: green;
    color: white;
  }
  .fa-meetup {
    background: red;
    color: white;
  }
  .fa-podcast {
    background: red;
    color: white;
  }
  .fa-codepen {
    background: #333;
    color: white;
  }
</style>
